.env
.env.local-ollama-worker
.puzzle-cache/

backend/node_modules
backend/dist
backend/coverage

frontend/node_modules

orchestrator/node_modules
orchestrator/dist


scripting/node_modules
scripting/src/.env
scripting/dist/